body
{
	font-family: "Lato", sans-serif;
}

.caps
{
	text-transform: uppercase;
}

.smallcaps
{
	font-variant-caps: all-small-caps;
}

.strike
{
	text-decoration: line-through;
}

.noline
{
	text-decoration: none;
}
.w3-blue-grey, .w3-hover-blue-grey:hover, .w3-blue-gray, .w3-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #000000!important;
}
.w3-amber, .w3-hover-amber:hover {
    color: #ffffff!important;
    background-color: #ff3d00 !important;
    border-radius: 20px;
}
.w3-btn {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    border-radius: 20px;
	transition: .5s;
}
.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #ff3d00 !important;
	color: white !important;

}
.w3-center button{
	margin: 20px;
}
textarea{
	cursor: pointer;
	border-radius: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 25px;
}
.w3-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    background: #203358;
    cursor: pointer;
    margin: 10px 0;
    font-family: cursive;
    color: white;
	font-size: 12px;
    transition: .3s;
    border-radius: 20px;
}.w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
    background-color: #0a0909;
}
.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: none;
}